@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('cabe.png'); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center;
        color: #333333;
    
}

.container {
    text-align: center;
    padding: 50px;
}

.container h1 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #ff4d4d;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #f0f0f0; 
    padding: 20px; 
    width: calc(20% - 40px); 
    max-width: 180px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px); 
}

.card .profile-img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.card .profile-img img {
    width: 100%;
    height: 100%;
}

.card .content {
    text-align: center;
}

.card .content h3 {
    font-size: 1.2rem; 
    margin-top: 15px; 
}

.card .content p {
    font-size: 0.9rem; 
    color: #666666;
    margin: 0;
}

.social-media {
    margin-top: 20px; 
    display: flex;
    justify-content: center;
}

.social-media i {
    font-size: 0.8rem; 
    color: #ff4d4d; 
    background-color: #f0f0f0; 
    padding: 10px; 
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.social-media i:hover {
    background-color: #ff4d4d; 
    color: #ffffff; 
}


